@model Inventory_Management_System.ViewModels.StationeryRetrievalViewModel;

@{
    Layout = "_Layout";
    ViewData["Title"] = "Stationery Retrieval Form Pending Assignment";
    var emp = Model.employee;
    var srpList = Model.retrievalProducts;
    var srrfpList = Model.sRRFPList;
    var sr = Model.stationeryRetrieval;
    var srrfList = Model.srrfList;
}

@section Styles{
    <link rel="stylesheet" href="../../../css/shared/style.css">
    <link rel="stylesheet" href="../../../css/demo_1/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css">
}
<h1>Stationery Retrieval Form - Pending Assignment</h1>
<!--AddedByHTP-->
<!--Info of clerk/text fields-->
<div class="col-12 grid-margin">

    <div class="card-body">

        <div class="row">
            <div class="col-md-12">
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">@sr.StoreClerk.EmployeeType.EmployeeTypeName</label>
                    <div class="col-sm-9">
                        <p class="col-form-label">@sr.StoreClerk.Firstname @sr.StoreClerk.Lastname</p>
                    </div>
                </div>
            </div>
        </div>
        @{
            if (Model.stationeryRetrieval.SRStatus != Inventory_Management_System.Enums.SRStatus.Open)
            { <div class="row">
                    <div class="col-md-12">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">@sr.WarehousePacker.EmployeeType.EmployeeTypeName</label>
                            <div class="col-sm-9">
                                <p class="col-form-label">@sr.WarehousePacker.Firstname @sr.WarehousePacker.Lastname</p>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
        <div class="row">
            <div class="col-md-12">
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Creation Date</label>
                    <div class="col-sm-9">
                        <p class="col-form-label">@Model.stationeryRetrieval.SRDate</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Retrieval ID</label>
                    <div class="col-sm-9">
                        <p class="col-form-label">@Model.stationeryRetrieval.SRCode</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Status</label>
                    <div class="col-sm-9">
                        <p class="col-form-label">@Model.stationeryRetrieval.SRStatus</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Retrieved Products</h4>
            <div class="table-vertical-scroll">
                <table class="table table-bordered" id="SRproductTbl">
                    <thead>
                        <tr>
                            <th> Product Name</th>
                            <th> Quantity Requested to Warehouse</th>
                            <th> Quantity Received from Warehouse</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (var product in Model.retrievalProducts)
                            {
                                <tr>
                                    <td hidden="hidden" class="Id">@product.Id </td>
                                    <td>@product.Product.ProductName </td>
                                    <td>@product.ProductRequestedTotal</td>
                                    <td>@product.ProductReceivedTotal</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<form>
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Products to Assign to Requisition Forms</h4>
                <div class="table-vertical-scroll">
                    <table class="table table-bordered" id="SRRFproductTbl">
                        <thead>
                            <tr>
                                <th> Requisition No.</th>
                                <th> Product Name</th>
                                <th> Quantity Approved </th>
                                <th> Quantity To Assign </th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                for (int i = 0; i < srrfpList.Count; i++)
                                {
                                    <tr>
                                        <td hidden="hidden" class="srrfpidclass" data-srrfpid="@srrfpList[i].Id">@srrfpList[i].Id </td>
                                        <td>@srrfpList[i].RFP.RequisitionForm.RFCode</td>
                                        <td>@srrfpList[i].RFP.Product.ProductName </td>
                                        <td>@srrfpList[i].RFP.ProductApproved</td>
                                        <td><input type="number" id="srrfpProductAssigned_@srrfpList[i].Id" min="0" /></td>
                                    </tr>
                                }
                            }
                        </tbody>
                        <tfoot>
                        </tfoot>
                    </table>
                    <button type="button" onclick="Confirm()">Confirm</button>
                </div>
            </div>
        </div>
    </div>
</form>


@section scripts{
    <script>
        function Confirm() {

            var srVModel;
            var model = @Html.Raw(Json.Serialize(Model));
            var srrfpList = new Array();

            $('.srrfpidclass').each(function () {
                var id = $(this).attr('data-srrfpid');
                var qty = $("#srrfpProductAssigned_" + id).val();
                //alert(id + "|" + qty)
                srrfpList.push({ 'Id': id, 'ProductAssigned': qty });


            });

            srVModel = {
                "employee": model.employee,
                "sRRFPList": srrfpList,
                "retrievalProducts": model.retrievalProducts,
                "stationeryRetrieval": model.stationeryRetrieval,
                "srrfList": model.srrfList
            };

            $.ajax({
                type: "POST",
                url: "/srf/assign/save/" +@Model.stationeryRetrieval.Id,
                data: JSON.stringify(srVModel),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (r) {
                    if (r.success == "Success") {
                        location.href = "/srf/summary";
                    }
                    else
                    {
                        alert("You must assign all items received");
                    }
                }
            });
        }
        



    </script>
}
